


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    float: left;
    margin-right: 20px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #666;
}

/* Page title styles */
.page-title {
    margin-top: 20px;
    
}


.content {
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1, p {
    color: white;
}
.slot-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .slot-table th,
  .slot-table td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
    color: #fff; 
  }
  
  .slot-table th {
    background-color: #333; 
  }
  
  .slot-table tr:nth-child(even) {
    background-color: #520b48;
  }
  
  .slot-table tr:hover {
    background-color: #666;
  }
  