.booking-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #fff; 
}

.booking-table th,
.booking-table td {
  border: 1px solid #555; 
  padding: 8px;
  text-align: left;
}

.booking-table th {
  background-color: #333; 
}

.booking-table tr:nth-child(even) {
  background-color: #444; 
}

.booking-table tr:hover {
  background-color: #666; 
}
