.user-list-container {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff; 
  }
  
  .user-list-container th,
  .user-list-container td {
    border: 1px solid #555; 
    padding: 8px;
    text-align: left;
  }
  
  .user-list-container th {
    background-color: #333; 
  }
  
  .user-list-container tr:nth-child(even) {
    background-color: #444; 
  }
  
  .user-list-container tr:hover {
    background-color: #666; 
  }
  