
body {
    margin: 0;
    padding: 0;
    background-image: "src\assets\restaurant.png";
    background-size: cover;
    background-repeat: no-repeat; 
  }
  .signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(10, 0, 0, 0.1);
    background-color: #f8f3f3;
    border: 0.5px solid grey;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #888;
  }
  
  label {
    position: absolute;
    top: 14px;
    left: 10px;
    color: #888;
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
  }
  
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #888;
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #6e6767;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #999;
  }
  
  .active {
    top: 0;
    font-size: 12px;
    color: #888;
  }
  